<!--&lt;!&ndash; <div >-->
<!--  <div nz-row nzJustify="center" nzAlign="middle" class="auth-wrapper" >-->
<!--    <div class="auth-bg">-->
<!--      <span class="r"></span>-->
<!--      <span class="r s"></span>-->
<!--      <span class="r s"></span>-->
<!--      <span class="r"></span>-->
<!--    </div> &ndash;&gt;-->
<!--    <div nz-col>-->
<!--      <nz-card [nzTitle]="cardHeader">-->
<!--        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">-->
<!--          <nz-form-item>-->
<!--            <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="emailErrorTpl">-->
<!--              <nz-input-group nzPrefixIcon="mail">-->
<!--                <input type="text" nz-input formControlName="email" placeholder="Email" />-->
<!--              </nz-input-group>-->
<!--              <ng-template #emailErrorTpl let-control>-->
<!--                <ng-container *ngIf="control.hasError('required')">-->
<!--                  Please enter your email.-->
<!--                </ng-container>-->
<!--                <ng-container *ngIf="control.hasError('pattern')">-->
<!--                  Please enter a valid email.-->
<!--                </ng-container>-->
<!--                &lt;!&ndash; <ng-container *ngIf="control.hasError('duplicated')">-->
<!--                  The username is redundant!-->
<!--                </ng-container> &ndash;&gt;-->
<!--              </ng-template>-->
<!--            </nz-form-control>-->
<!--          </nz-form-item>-->

<!--          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"-->
<!--          [disabled]="!validateForm.valid" [nzLoading]="isLoading">{{isLoading? '': 'Submit'}}</button>-->
<!--          <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>-->
<!--          <p>Don’t have an account? <a [routerLink]="['/register']">Create an account</a></p>-->
<!--        </form>-->
<!--      </nz-card>-->
<!--    </div>-->
<!--  &lt;!&ndash; </div>-->
<!--</div> &ndash;&gt;-->

<!--<ng-template #cardHeader >-->
<!--  <div class="header-wrapper"><i nz-icon nzType="redo" nzTheme="outline"></i>Forgot Password</div>-->
<!--</ng-template>-->

<div>
  <mat-card>
    <mat-card-header style="justify-content: center;">
      <mat-card-title><h2>Forgot Password</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-icon matPrefix>email</mat-icon>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" style="width: 100%; margin: 16px 0;">Send</button>
        <p>
          Already have an account?
          <a mat-button color="primary" [routerLink]="['/login']">Login</a>
        </p>
        <p>
          Don’t have an account?
          <a mat-button color="primary" [routerLink]="['/register']">Create an account</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>


