<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>Log In</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-icon fontSet="material-icons-outlined" matPrefix>email</mat-icon>
<!--          <mat-hint>Include area code</mat-hint>-->
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-icon fontSet="material-icons-outlined" matPrefix>lock</mat-icon>
<!--          <mat-hint>Include area code</mat-hint>-->
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="remember" color="primary">Remember Me</mat-checkbox>
        </div>

        <button mat-raised-button color="primary" class="submit-button" [class.spinner]="isLoading" [disabled]="isLoading || !form.valid">Login</button>
        <mat-error *ngIf="error">
          {{error}}
          The username and password were not recognized
        </mat-error>
<!--        <button mat-raised-button class="submit-button" color="primary">Login</button>-->
        <p>
          Forgot password?
          <a mat-button color="primary" [routerLink]="['/forgot-password']">Reset</a>
        </p>
        <p>
          Don’t have an account?
          <a mat-button color="primary" [routerLink]="['/register']">Create an account</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>


<!--<ng-template #extraTemplate>-->
<!--  <a>More</a>-->
<!--</ng-template>-->

<!--<ng-template #cardHeader >-->
<!--&lt;!&ndash;  <div class="header-wrapper"><i class="feather icon-unlock"></i>Login</div>&ndash;&gt;-->
<!--  <div class="header-wrapper"><i nz-icon nzType="lock" nzTheme="outline"></i>Login</div>-->
<!--</ng-template>-->

